src/main/mule/flight.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="testFlow" doc:id="5928ba73-0bdf-4a42-be3c-e365da7a8863" >
		<http:listener doc:name="Listener" doc:id="ac73df7a-ac30-442e-b2b8-c0dee390a20a" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2e57714f-6531-4986-87d0-3225cd18c624" />
	</flow>
</mule>
